<%= image_tag 'sumaho.png', id: "sumaho" %>

<div class="login">
  <h2>ImagesShere</h2>
  <%= image_tag 'default.jpg', id: "dummy" %>
  <%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>

  <p><%= f.email_field :email, :placeholder => "メールアドレス" %></p>

  <p><%= f.password_field :password, :placeholder => "パスワード" %></p>

  <p><%= f.submit "ログイン" %></p>

  <% end %>
</div>
