<%= form_with(model: picture, local: true, url: choose_new_or_edit) do |form| %>
  <% if picture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(picture.errors.count, "error") %> prohibited this picture from being saved:</h2>

      <ul>
      <% picture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form_for @picture do |f| %>
      <%= fields_for(@sentence) do |sentence| %>
        <%= sentence.label :content %>
        <%= sentence.text_field :content %>
      <% end %>
      <%= form.label :images %>
      <%= form.file_field :images, multiple: true %>

       <% @picture.images.each do |picture| %>
          <%= image_tag (picture.url) %>
       <% end %>

      <%= form.hidden_field :images_cache %>
      <%= form.submit %>
    <% end %>
  </div>

  <div class="actions">

  </div>
<% end %>
