<div class="content">
  <%= form_with(model: picture, local: true, url: choose_new_or_edit) do |form| %>
<% if picture.errors.any? %>
  <% picture.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
  </div>
<% end %>
<div class="contribution">
  <p class="option"><%= form.label :writing %></p>
  <p class="option"><%= form.text_field :writing %></p>

  <p class="option"><%= form.file_field :images, multiple: true %></p>
  <% @picture.images.each do |picture| %>
       <%= image_tag (picture.url) %>
    <% end %>

  <%= form.hidden_field :images_cache %>

  <p class="option"><%= form.submit "投稿する" %></p>
</div>
<% end %>
</div>
