<div class="content">
  <h1 class="option">確認画面</h1>
  <%= form_with(model: @picture, url: pictures_path, local: true) do |form| %>
    <%= form.hidden_field :writing %>
    <p class="option" ><%= @picture.writing%></p>

  <% @picture.images.each do |picture| %>
    <%= image_tag picture.url %>
  <% end %>
    <%= form.hidden_field :images_cache %>
    <p class="option"><%= form.submit "投稿する" %></p>
  <% end %>

  <%= form_for(@picture, url:new_picture_path, local:true, method:"get") do |form| %>
    <%= fields_for(@sentence) do |sentence| %>
      <%= sentence.hidden_field :content %>
    <% end %>
    <%= form.hidden_field :writing %>
    <%= form.hidden_field :images_cache, class: "option" %>
    <%= form.submit "戻る", name: "back", class: "option" %>
  <% end %>

</div>
