<div class="contribution_index">
  <h3>投稿一覧</h3>
  <% count = 0 %>
  <% @pictures.each do |picture| %>
  <div class="contribution">
    <p>
      <%= picture.user.name %>
      <% if picture.images.length != 1 %>
        <i class="far fa-clone"></i>
      <% end %>
    </p>
    <p id="sentence"><%= @sentences[count].content %></p>
    <p><%= image_tag picture.images[0].url %></p>
      <%= link_to 'Show', picture %>
        <% if current_user %>
          <% if current_user.id == picture.user_id%>
            <%= link_to 'Edit', edit_picture_path(picture) %>
            <%= link_to 'Destroy', picture, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        <% end %>
      <% count += 1 %>
    </div>
    <% end %>
  <br>
</div>
