<div class="content">
  <div class="contribution"
    <% if logged_in? %>
      <% unless @picture.user_id == current_user.id %>
      <% if @favorite.present? %>
        <p class="option">
          <%= link_to 'お気に入りを解除する', favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-danger' %>
        </p>
      <% else %>
        <p class="option">
          <%= link_to 'お気に入りする', favorites_path(picture_id: @picture.id), method: :post, class: 'btn btn-primary' %>
        </p>
      <% end %>
    <% end %>
  <% end %>

    <%= link_to '戻る', pictures_path, class: "option" %>
    <p class="option"><%= @picture.user.name %></p>
    <p class="option"><%= @picture.writing %></p>
    <% @picture.images.each do |picture| %>
      <%= image_tag picture.url %>
    <% end %>

  </div>
</div>
